/*
.selector-for-some-widget {
  box-sizing: content-box;
}
*/

@font-face {
    /* font-properties */
    font-family: pictos;
    src:url('/pictos-web.woff'),
    url('pictos/pictos-web.ttf'),
    url('pictos/pictos-web.eot'); /* IE9 */
}

body {
    background: #eee;
}

header {
    font-size: 18px;
}

.main-body {
    font-size: 16px;
    font-family:  'pt-serif', /*'Times New Roman', Times, */ 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
    max-width: 52em;
    background-color: #fff;
    padding: 0.3vw 3.5vw 0.5vw 3.5vw;
}

.main-title p {
    margin-bottom:0px;
}

.article-title {
    display: block;
    width:100%;
}

.article-title p{
    margin-bottom: 6px;
    font-size: 18px;
}

a:visited {
    color: rgb(220, 0, 0);
    text-decoration: none;
}

a {
    color: rgb(220, 0, 0);
    text-decoration: none;
}

h2 {
    font-weight: bold;
}

hr {
    border-top-color: rgba(0, 0, 0, 0.3);
    width:100%;
}

