{% extends "main/base.html" %}
{% load staticfiles %}          
{% load i18n %}               

{% block content %}
<div class='mtb-15'>
    <div class='container'>
        <div class='row' >
            <h2>{{ article.title }}</h2>
        </div>
        <div class='row' >
            <p class='mt-15'> 
            <i><b> {{ date }} </b></i>
            </p>
        </div>
        <div class='row' >
            <div class='markdownx'>
                {{ content|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/googlecode.min.css" rel="stylesheet">
    <!--link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/color-brewer.min.css" rel="stylesheet"-->
    <script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        }
    </script>
{% endblock %}
